.text-center{
  text-align: center;
  color: white;
  margin: 40px;
}

.container{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inner-container{ 
  margin: auto;
  border: 2px solid black;
  padding: 9px 20px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid;
  padding: 20px 36px 36px 36px;
  box-shadow: 0 0 30px #fff;;
}